.navbar-brand {
	font-size: 30px;
}

.current-weather {
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: darkgrey;
	line-height: 150%;
}

.card {
	background-color: #06aed5;
	color: white;
}

.card-img-top {
	width: 7rem;
}

.card-body {
	font-size: 14px;
}

.current-weather-image {
	width: 12rem;
}

.form-control {
	width: 13rem;
}

.searchBtn {
	background-color: #06aed5;
	color: white;
	border-radius: 5px;
}

.UVgreen {
	background-color: lightgreen;
}

.UVyellow {
	background-color: yellow;
}

.UVred {
	background-color: red;
}

.historyItem {
	border-style: solid;
	width: 200px;
}
